---
- name: Install user packages
  ansible.builtin.include_tasks:
    file: 00-packages.yml
  tags:
    - user-customisation

- name: Install neovim
  ansible.builtin.include_tasks:
    file: 01-neovim.yml
  tags:
    - user-customisation

- name: Install dotfiles
  ansible.builtin.include_tasks:
    file: 02-dotfiles.yml
  tags:
    - user-customisation

- name: Install yazi
  ansible.builtin.include_tasks:
    file: 03-yazi.yml
  tags:
    - user-customisation

- name: Install flatpaks
  ansible.builtin.include_tasks:
    file: 04-flatpaks.yml
  tags:
    - user-customisation

- name: Install libvirt
  ansible.builtin.include_tasks:
    file: 05-libvirt.yml
  tags:
    - user-customisation
