---
- name: "Print ansible facts"
  ansible.builtin.debug:
    var: ansible_facts
  tags:
    - packages

- name: "Update apt cache"
  become: true
  ansible.builtin.apt:
    update_cache: false
    cache_valid_time: 3600
  tags:
    - packages

- name: Install essential packages
  become: true
  ansible.builtin.apt:
    name:
      - curl
      - wget
      - git
      - vim
      - htop
      - tree
      - unzip
      - apt-transport-https
      - ca-certificates
      - gnupg
      - lsb-release
      - nala
      - tealdeer
      - grub-customizer
      - btop
      - psmisc
      - lshw
      - dnsutils
      - net-tools
      - rsync
      - ufw
      - nfs-common
      - systemd-timesyncd
    state: present
  tags:
    - packages

- name: "Install dev packages"
  become: true
  ansible.builtin.apt:
    name:
      - cmake
      - gettext
      - build-essential
  tags:
    - packages

