---
- name: "Configure timezone"
  community.general.timezone:
    name: "{{ system_timezone | default('UTC') }}"
  tags:
    - settings

- name: Set NTP server
  become: true
  ansible.builtin.lineinfile:
    path: /etc/systemd/timesyncd.conf
    regexp: '^NTP='
    line: "NTP={{ ntp_server | default('pool.ntp.org') }}"
    backup: true
  notify: Restart NTP service
  tags:
    - settings