---
- name: "Create user account '{{ username }}'"
  ansible.builtin.user:
    name: "{{ username }}"
    groups: sudo
    shell: /bin/bash
    create_home: true
    uid: "{{ uid | default(omit) }}"
    password: "{{ user_password }}"
  when: username is defined
  tags: 
    - users

- name: "Create .ssh directories for user '{{ username }}'"
  ansible.builtin.file:
    path: "/home/{{ username }}/.ssh"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '0700'
  tags: 
    - users

- name: Add SSH public keys for user '{{ username }}'
  ansible.posix.authorized_key:
    user: "{{ username }}"
    state: present
    key: "{{ ssh_key }}"
    comment: "{{ comment | default('Managed by Ansible') }}"
  when: ssh_key is defined
  tags: 
    - users
