---
- name: "Add hostname to /etc/hosts"
  become: true
  ansible.builtin.lineinfile:
    path: /etc/hosts
    line: "127.0.0.1 {{ hostname }}"
    state: present
  when: hostname is defined
  tags:
    - settings

- name: Set hostname
  become: true
  ansible.builtin.hostname:
    name: "{{ hostname }}"
  when: hostname is defined
  tags:
    - settings